<style>
    .foldername.financial-system {
        color: #ff5733; /* Color for Financial System */
    }
    .foldername.filming-style {
        color: #33ff57; /* Color for Filming and Style */
    }
    .foldername.youtube-seo {
        color: #3357ff; /* Color for YouTube, SEO, Sites, Web Dev */
    }
    .foldername.defcon {
        color: #a133ff; /* Color for Defcon Machine Learning */
    }
    .foldername.digigarden {
        color: #33ff8a; /* Color for Digigarden */
    }
</style>
